.Prueba {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  height: 100vh;
  place-items: center center;
  gap: .5rem;
}

.Prueba__titulo {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.25;
  animation: aparece 1.25s 0s ease both;
}

.Prueba__contenedor_formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  font-size: 2rem;
  font-weight: bold;
}

.Prueba__link_reinicio {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--color-texto);
}

.Prueba__contenedor_resultado {
  place-self: center stretch;
}

.Prueba__contenedor_textarea {
  display: flex;
  flex-direction: column;
  height: 35vh;
  position: relative;
}

.Prueba__textarea {
  flex: 1;
  font-size: 2.5rem;
  padding: 1rem;
  resize: none;
  border-radius: .25rem;
  font-family: 'Roboto';
  border: none;
  outline: none;
  box-shadow: 0 0 0 .1rem gray;
  transition: all .25s ease;
  animation: aparece 2s .75s ease both;
}

.Prueba__contenedor_botones_input {
  display: flex;
  gap: .25rem;
  position: absolute;
  bottom: .5rem;
  left: .5rem;
}

.Prueba__boton_input {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.Prueba__modal_emojis {
  position: absolute;
  bottom: 3.5rem;
  left: .25rem;
  display: flex;
  gap: .25rem;
  background-color: rgba(0, 0, 0, .15);
  padding: .25rem .65rem .45rem;
  border-radius: 9in;
  opacity: 0;
  pointer-events: none;
  transform: translateY(.25rem);
  transition: all .25s ease;
}

.Prueba__modal_emojis--visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.Prueba__modal_emojis_boton {
  font-size: 1.75rem;
  background: none;
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: all .25s ease;
}

.Prueba__modal_emojis_boton:hover {
  transform: scale(1.25);
}

.Prueba__textarea::placeholder {
  opacity: .35;
}

.Prueba__textarea:focus {
  box-shadow: 0 0 0 .25rem black;
}

.Prueba__boton_procesar {
  background: var(--color-oscuro);
  color: var(--color-texto-claro);
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  font-size: 2.5rem;
  font-weight: normal;
  transition: all .25s ease;
  box-shadow: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: flex-start;
  animation: aparece 2s 2s ease both;
}

.Prueba__boton_procesar:hover {
  box-shadow: 0 0 .25rem var(--color-sombras);
  background: var(--color-oscuro-hover);
}
