.BarraConfirmacion {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.BarraConfirmacion__titulo {
  width: 15rem;
  max-width: 15rem;
  font-size: 2rem;
  text-align: right;
  color: var(--color-blanco);
  text-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5);
}

.BarraConfirmacion__porcentaje {
  background: var(--color-gris-claro);
  color: var(--color-negro);
  text-shadow: none;
  flex: 1;
  padding: 1rem;
  border-radius: .5rem;
  font-size: 2rem;
  transition: all .75s ease-in-out;
}

.BarraConfirmacion--destacada {
  font-weight: bold;
}

@media (max-width: 1024px) {
  .BarraConfirmacion {
    width: 100%;
    padding: 0 4rem;
  }
}