:root {
  font-size: 1vw;
  font-family: 'Roboto';
  --color-oscuro: rgba(0, 0, 0, .95);
  --color-texto-claro: white;
  --color-fondo-claro: white;
  --color-bordes: lightgray;
  --color-sombras: rgba(0, 0, 0, .5);
  --color-oscuro-hover: hsl(0, 0%, 25%);
  --color-oscuro-active: hsl(0, 0%, 50%);
  color: var(--color-oscuro);
  
  --color-rojo: #ed3324;
  --color-azul: #005bf1;
  --color-purpura: #a506e9;
  --color-verde: #00d200;
  --color-texto: black;
  --color-blanco: white;
  --color-negro: black;

  --color-gris-claro: hsl(4, 85%, 84%);
}

*, *::after, *::before {
  box-sizing: border-box;
  user-select: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@keyframes aparece {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mueve-fondo {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}