.Bienvenida {
  display: grid;
  place-items: center center;
  height: 100vh;
}

.Bienvenida__hola {
  place-self: end center;
  font-size: 3.5rem;
  animation: aparece 1s ease both;
  color: var(--color-blanco);
  text-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5);
}

.Bienvenida__explicacion {
  font-size: 3.5rem;
  text-align: center;
  line-height: 1.5;
  animation: aparece 1.5s 1s ease both;
  color: var(--color-blanco);
  text-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5);
}

.Bienvenida__botones {
  display: flex;
  gap: 4rem;
  place-self: start center;
  animation: aparece 1.5s 2.5s ease both;
}

.Bienvenida__boton {
  background: rgb(250, 250, 250);
  color: var(--color-texto-claro);
  padding: 2.25rem 2.5rem;
  border-radius: 9in;
  font-size: 3rem;
  font-weight: normal;
  transition: all .25s ease;
  box-shadow: 0 0 1rem rgba(255, 255, 255, .1);
  display: flex;
  align-items: center;
  color: var(--color-negro);
  gap: 1.25rem;
}

.Bienvenida__boton--reagendamiento {
  padding-left: 3rem;
}

.Bienvenida__boton:hover, .Bienvenida__boton:focus {
  background: rgb(255, 255, 255);
  box-shadow:
    0 0 2rem rgba(255, 255, 255, .25),
    0 0 1rem rgba(255, 255, 255, .1),
    0 0 2.5rem rgba(255, 255, 255, .5);
  text-shadow: 0 0 .25rem rgba(0, 0, 0, 0.1);
}

.Bienvenida__boton:active {
  box-shadow: 0 0 .35rem var(--color-sombras);
  background: var(--color-oscuro-active);
}
 
.Bienvenida__mano {
  display: inline-flex;
  transform-origin: 105% 105%;
  animation: saludar 15s ease infinite both;
}

@keyframes saludar {
  0% {
    transform: rotate(0);
  }
  90% {
    transform: rotate(0);
  }
  93.5% {
    transform: rotate(25deg);
  }
  98% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0);
  }
}